In [8]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame

# 5.1 Introduction to pandas Data Structures

### Series

In [9]:
obj = pd.Series([4, 7, -5, 3])

In [10]:
obj

0    4
1    7
2   -5
3    3
dtype: int64

And so on...

In [11]:
obj.array

<NumpyExtensionArray>
[np.int64(4), np.int64(7), np.int64(-5), np.int64(3)]
Length: 4, dtype: int64

In [12]:
obj.index

RangeIndex(start=0, stop=4, step=1)

In [13]:
obj2 = pd.Series([4, 7, -5, 3], index = ["d", "b", "a", "c"])

In [14]:
obj2

d    4
b    7
a   -5
c    3
dtype: int64

In [15]:
obj2.index

Index(['d', 'b', 'a', 'c'], dtype='object')

In [16]:
obj2["a"]

np.int64(-5)

In [17]:
obj["d"] = 6

In [18]:
obj

0    4
1    7
2   -5
3    3
d    6
dtype: int64

In [19]:
obj2[["c", "a", "d"]]

c    3
a   -5
d    4
dtype: int64

In [20]:
obj2[obj2 > 0]

d    4
b    7
c    3
dtype: int64

In [21]:
obj2 * 2

d     8
b    14
a   -10
c     6
dtype: int64

In [22]:
import numpy as np

In [23]:
np.exp(obj2)

d      54.598150
b    1096.633158
a       0.006738
c      20.085537
dtype: float64

Another way to think about a Series is as a fixed-length, ordered dictionary, as it is a mapping of index values to data values. It can be used in many contexts where you might use a dictionary:

In [24]:
"b" in obj2

True

In [25]:
"e" in obj2

False

In [26]:
sdata = {"Ohio": 35000, "Texas": 71000, "Oregon": 16000, "Utah": 5000}

In [27]:
obj3 = pd.Series(sdata)

In [28]:
obj3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [29]:
sdata

{'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}

you can convert a series back to a dict also

In [30]:
obj3.to_dict()

{'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}

In [31]:
obj3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [32]:
states = ["California", "Ohio", "Oregon", "Texas"]

In [33]:
states

['California', 'Ohio', 'Oregon', 'Texas']

In [ ]:
obj4 =